<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TornSharp.Settings.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Torn_Sharp.TornSharp.Settings.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TornSharp.Settings.UserSettings>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSignin" serializeAs="String">
                <value>False</value>
            </setting>
        </TornSharp.Settings.UserSettings>
        <Torn_Sharp.TornSharp.Settings.UserSettings>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
        </Torn_Sharp.TornSharp.Settings.UserSettings>
    </userSettings>
</configuration>